@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

body{
    position: absolute;
    width: 100%;
    top: 6rem;
}
/* Container */
.Dark {
    color: #FAFAFA;
    background-color: #201e20

;
}

.Landing_page_container {
    padding-bottom: 1rem;
    background-color: #FAFAFA;
}

.Landing_page_container.Dark {
    background-color: #201e20

;
}

.Landing_page_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* box-shadow: 1px 1px 5px 2px #ddd; */
    z-index: 100;
    transition: background-color 0.3s ease;
}

.Landing_page_nav.Dark {
    background-color: #1F1F1F;
}

.Landing_page_nav h1 {
    margin-left: 3rem;
    color: #333;
}

.Landing_page_nav.Dark h1 {
    color: #FAFAFA;
}

.Landing_page_nav ul {
    margin-top: 1.8rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}

.Landing_page_nav ul li {
    position: relative;
    color: #333;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.Landing_page_nav ul li:hover {
    color: #FA2742 ;
}

.Landing_page_nav.Dark ul li {
    color: #FAFAFA;
}

.Landing_page_nav ul li:hover .dropdown-content {
    display: block;
}

.search .fa {
    color: #FA2742;
    font-size: 2.5rem;
    border: 2px #FA2742 solid;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.31rem;
}

.search .fa.Dark {
    color: #FAFAFA;
    background-color: #333;
    border: 1px #FAFAFA solid;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    color: #201e20

;
    min-width: 15rem;
    top: 100%;
    z-index: 1;
    padding: 0.5rem;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    list-style: none;
    padding: 0rem;
    margin: 0;
}

.dropdown-content ul li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-content ul li:hover {
    background-color: #FA2742 ;
    color: #FAFAFA;
}

.dropdown-content.Dark {
    background-color: #1F1F1F;
    color: #FAFAFA;
    border: 1px #333 solid;
}

.overlay {
    position: fixed;
    top: 0;
    left: 23%;
    width: 60%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.7s ease;
}

.overlay-visible {
    transform: translateY(0);
}

.overlay.Light {
    background: #FAFAFA;
}

.overlay.Dark {
    background: #201e20

;
}

.fa-within {
    color: #888;
    border-bottom: 2px #333 solid;
    border-right: none;
    font-size: 3rem;
    padding: 0.8rem;
    background-color: #FAFAFA;
}

.overlay-content {
    text-align: center;
    display: flex;
    align-items: center;
}

.overlay-input {
    border-bottom: 2px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1rem;
    padding: 0.87rem;
    background-color: #FAFAFA;
    width: 80vh;
    margin: 1rem 0;
}

.overlay-input:focus {
    outline: none;
    box-shadow: none;
}

.overlay-input.Dark {
    background-color: #201e20

;
    border-bottom: 1px solid #FAFAFA;
}

.overlay-close {
    font-size: 2rem;
    color: #201e20

;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Landing Page Body */
.Landing_page_body {
    background-image: url('../../assets/background1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /* color: red; */
    /* position: relative; */
    /* top: 10vh; */
    /* margin-top: 2rem; */
    margin-left: 2rem;
    margin-right: 2rem;
    height: 80vh;
    padding: 2rem;
    display: flex;
    clip-path: url(#curvyPath);
    transition: clip-path 0.5s ease;

    /* border: none; */
}
.Landing_page_body div {
    
    padding: 2rem; 
     margin-top: 20rem; 
     color: #FA2742; 
     text-align: left;
     background-blend-mode: color-burn;
}
.Landing_page_body div h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 700;
}

.Landing_page_body button {
    background-color: #FA2742;
    border: none;
    color: #FAFAFA;
    font-size: 1rem;
    padding: 0.8rem 0.9rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color  0.3s ease;
    transition: transform 0.7s ;
}

.Landing_page_body button:hover {
    background-color: #FAFAFA;
    color: #FA2742;
    border: 1px solid #FA2742;
    transform: scale(1.1);
}

.special_menu {
    color: #FAFAFA;
    font-size: 2.5rem;
    padding: 0.4rem;
    position: fixed;
    right: 0%;
    top: 50%;
    background-color: #FA2742 ;
    border-radius: 0.1rem 0px 0px 0.1rem;
    cursor: pointer;
}

.Landing_page_information {
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100%;
    color: #FAFAFA;
    display: flex;
    flex-direction: row;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    background:linear-gradient(120deg,#FAFAFA 95ch, #FA2742 1ch)   ;
}

.Landing_page_information_show {
    transform: translateX(0);
}

.contact_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_form svg {
    font-size: 3rem;
    margin: 1rem;
}

.navigation {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    color: #FAFAFA;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    margin: 1rem 0;
    cursor: pointer;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.contact {
    border: 2px #FAFAFA solid;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.contact input {
    padding: 0.7rem;
    font-size: 1rem;
}

.complimentary_dishes {
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.complimentary_dishes h1 {
    text-align: center;
    color: #201e20;
    margin-bottom: 2rem;
}

.complimentary_dishes_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1rem; */
}

#dish {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /* border-radius: 8px; */
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.soup {
    background-image: url('../../assets/soup.jpg');
    height: 500px;
}

.Quiche {
    background-image: url('../../assets/quiche.jpg');
    height: 500px;
}

.Lasagne {
    background-image: url('../../assets/lasanga.jpg');
    height: 500px;
}

.Calamari {
    background-image: url('../../assets/calamari.jpg');
    height: 500px;
}

#dish p {
     position: relative;
    top: -100%;
    left: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1rem;
    margin: 0;
    transition: top 0.3s ease; 
    font-size: 1.5rem;
    opacity: 1.1;
}

#dish:hover {
    opacity: 0.7;
}

#dish:hover p {
    top: 0px;
}
.complimentry_btn_div {
    padding: 2rem;
    /* background-color: red; */
}
.btn{
    background-color: #FA2742;
    color: #FAFAFA;
    padding: 1rem 1.7rem;
    margin-left: 45.5%;
    font-size: 1.2rem;
    border: 1px solid #FA2742;
    transition: transform 0.6s;
    cursor: pointer;
    /* box-shadow: 0px 0px 10px 0px red; */

}
.btn:hover{
    color: #FA2742;
    background-color: #FAFAFA;
    transform: scale(1.1);
}