@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    position: absolute;
    width: 100%;
    top: 6rem;
}


.Landing_page_container {
    padding-bottom: 1rem;
    background-color: #FAFAFA;
}

.Landing_page_container.Dark {
    background-color: #201e20;
}

.Landing_page_body {
        animation: slide_fade 1s forwards;
    background-image: url('../../assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 80vh;
    padding: 2rem;
    display: flex;
    clip-path: url(#curvyPath);
    transition: clip-path 0.5s ease;
}

.Landing_page_body div {
            animation: slide_fade 1s forwards;
    background: transparent;
    padding: 2rem;
    margin-top: 20rem;
    color: #FA2742;
    text-align: left;
    background-blend-mode: color-burn;
}

.Landing_page_body div h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
}

.Landing_page_body button {
            animation: slide_fade 1s forwards;
    background-color: #FA2742;
    border: none;
    color: #FAFAFA;
    font-size: 1rem;
    padding: 0.8rem 0.9rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.7s;
}

.Landing_page_body button:hover {
    background-color: #FAFAFA;
    color: #FA2742;
    border: 1px solid #FA2742;
    transform: scale(1.1);
}

.complimentary_dishes {
            animation: slide_fade 1s forwards;
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.complimentary_dishes h1 {
    text-align: center;
    color: #201e20;
    margin-bottom: 3rem;
}

.complimentary_dishes_container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

#dish {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    transition: transform 0.4s, opacity 0.4s;
    height: 490px;
    /* Adjust the height as needed */
    cursor: pointer;
}

#dish_inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, filter 0.2s ease;
    /* filter: grayscale(100%); */
}

#dish_inner p {
    position: absolute;
    top: -100%;
    left: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1rem;
    margin: 0;
    transition: top 0.5s ease;
    font-size: 1rem;
    border-radius: 0 0 8px 8px;
}

#dish:hover {
    /* transform: scale(1.05); */
    /* Slightly zoom the container */
    opacity: 1;
}

#dish:hover #dish_inner {
    transform: scale(01.2);
    /* Zoom the inner content more */
    filter: brightness(0.8) contrast(1.4) saturate(1.5);
}

#dish:hover #dish_inner p {
    top: 10%;
}

.complimentry_btn_div {
    padding: 1.5rem;
}

.btn {
    background-color: #FA2742;
    color: #FAFAFA;
    padding: 1rem 1.7rem;
    margin-left: 45.5%;
    font-size: 1.2rem;
    border: 1px solid #FA2742;
    transition: transform 0.6s;
    cursor: pointer;
}

.btn:hover {
    color: #FA2742;
    background-color: #FAFAFA;
    transform: scale(1.1);
}

@keyframes slide_fade{
    from{
        scale: 0.6;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}