@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.cuisine a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

.cuisines {
    margin-top: 20px;
    padding: 2rem;
    background-color: #FAFAFA;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cuisines h1 {
    font-size: 2.9rem;
    color: #201e20;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    background-color: transparent;
}

.cuisine_container {
    /* background-color: #FA2742; */
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    position: relative;
}

.cuisine_types {
    /* background-color: #FA2742; */
    margin-top: 2rem;
    padding: 2rem;
    position: relative;
}

.cuisine {
    /* background-color: #FA2742; */
    margin-bottom: 5rem;
    padding: 1rem;
    text-align: left;
    background-color: #FAFAFA;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInScale 01s forwards;
    border-radius: 8px;
}

.cuisine p {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.cuisine_images {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

.cuisine_image {
    /* border: 2px red solid; */
    width: 100%;
    height: 400px;

    position: relative;
    overflow: hidden;
    /* border-radius: 8px; */
    transition: transform 0.5s ease;
}

.cuisine_image:hover {
    transform: scale(1.02);
}

.cuisine_image_inner {
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, filter 0.2s ease;
    cursor: pointer;
    filter: grayscale(0%);
}

.cuisine_image:hover .cuisine_image_inner {
    transform: scale(1.2);
    filter: brightness(1) contrast(1.3) saturate(1.2);
}

.cuisine_image p {
    position: absolute;
    top: -100%;
    left: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FAFAFA;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    transition: top 0.3s ease;
    z-index: 1;
    border-radius: 0 0 8px 8px;
}

.cuisine_image:hover p {
    top: 10%;
}

.cuisine_images .fa {
    color: #FFF;
    font-size: 2.5rem;
    background-color: #444;
    padding: 0.3rem 0.5rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
    opacity: 0.9;
    border-radius: 50px;
    cursor: pointer;
}

.cuisine_images .fa:hover {
    background-color: #666;
    color: #201e20;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}