@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.seasonal_cuisines {
    margin-top: 20px;
    padding: 2rem;
    background-color: #FAFAFA;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.seasonal_cuisines h1 {
    font-size: 2.9rem;
    color: #201e20;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-color: transparent;
    font-weight: 300;
}

.seasonal_cuisine_container {
    /* border: #201e20 solid 4px; */
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    position: relative;
}

.seasonal_cuisine a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.6rem;
    font-weight: 500;
    text-decoration: none;
    color: #FA2742;
}

.seasonal_cuisine {
    margin-bottom: 5rem;
    padding: 1rem;
    text-align: left;
    background-color: #FAFAFA;
    position: relative;
    border-radius: 8px;
}

.seasonal_cuisine p {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.seasonal_cuisine_images {
    margin-top: 1rem;
}

.seasonal_cuisine_image {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.seasonal_cuisine_image_inner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, filter 0.2s ease;
    cursor: pointer;
    filter: grayscale(0%);
}

.seasonal_cuisine_image:hover .seasonal_cuisine_image_inner {
    transform: scale(1.2);
    filter: brightness(1) contrast(1.3) saturate(1.2);
}

.seasonal_cuisine_item {
    margin-bottom: 3rem;
    padding: 1rem;
    text-align: left;
    background-color: #FAFAFA;
    position: relative;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInScale 1s forwards;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
}

.seasonal_cuisine_image p {
    border: 1px #FA2742 solid;
    position: absolute;
    top: -100%;
    left: 30%;
    width: 70%;
    background-color: rgba(250, 250, 250, 0.8);
    color: #FA2742;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    transition: top 0.3s ease;
    z-index: 1;
    border-radius: 0 0 8px 8px;
    filter: blur(2px);
}

.seasonal_cuisine_image:hover p {
    top: 15%;
    filter: blur(0);
}

.seasonal_cuisine_images .fa {
    color: #FFF;
    font-size: 2.5rem;
    background-color: #444;
    padding: 0.3rem 0.5rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
    opacity: 0.9;
    border-radius: 50px;
    cursor: pointer;
}

.seasonal_cuisine_images .fa:hover {
    background-color: #FAFAFA;
    color: #201e20;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}