/* Import necessary fonts */
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Landing Page Container */
.Landing_page_container {
    padding-bottom: 1rem;
}

/* Navbar Styles */
.Landing_page_nav {
    animation: slide_fade 1s forwards;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(17, 15, 15, 0.6);
    /* Transparent red background */
    backdrop-filter: blur(10px);
    /* Blur effect */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 100;
    transition: background-color 0.3s ease;
}

/* Navbar Brand */
.Landing_page_nav h1 {
    cursor: pointer;
    margin: 0;
    margin-left: 3rem;
    padding: 0;
    font-size: 3rem;
    position: relative;
    color: #FAFAFA;
    /* background-color: rgba(250, 39, 66, 0.6); */
    /* Transparent red background */
    overflow: hidden;
    transition: color 0.3s ease;
}

.Landing_page_nav h1:before {
    content: "Food Hunt.";
    position: absolute;
    top: 0;
    left: 0;
    color: #201e20;
    width: 0%;
    overflow: hidden;
    transition: width 0.5s ease;
    white-space: nowrap;
}

.Landing_page_nav h1:hover:before {
    width: 100%;
}

/* Navbar Links and Dropdown */
.Landing_page_nav ul {
    margin-top: 1.8rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}

.Landing_page_nav ul li {
    text-decoration: none;
    /* background-color: #201e20; */
    position: relative;
    color: #333;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.Landing_page_nav ul li a {
    /* background-color: #FA2742; */
    background-color: transparent;
    text-decoration: none;
    color: #FAFAFA;
}

.Landing_page_nav ul li a:hover {
    color: #201e20;
}

.Landing_page_nav ul li:hover .dropdown-content {
    display: block;
}

/* Search Icon Styles */
.search {
    background-color: none;
    margin-right: 2rem;
}

.search .fa_navbar {
    color: #FAFAFA;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.31rem;
}

.search .fa_navbar:hover {
    color: #201e20;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #FA2742; */
    color: #201e20;
    min-width: 15rem;
    top: 100%;
    z-index: 1;
    padding: 0.5rem;
    background: rgba(177, 176, 176, 0.7);
}

.dropdown-content ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0rem;
    margin: 0;
}

.dropdown-content ul li a {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-content ul li a:hover {
    color: #201e20;
}

.dropdown-content.Dark {
    background-color: #1F1F1F;
    color: #FAFAFA;
    border: 1px #201e20 solid;
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 23%;
    width: 60%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.7s ease;
    /* background-color: #FA2742; */
    background: rgba(193, 190, 190, 0.6);
        /* Transparent red background */
        backdrop-filter: blur(10px);
}

.overlay-visible {
    transform: translateY(0);
}

.fa-within {
    color: #FAFAFA;
    border-bottom: 2px #333 solid;
    border-right: none;
    font-size: 3.2rem;
    padding: 0.8rem;
    /* background-color: #FA2742; */
    
}

.overlay-content {
    color: #FAFAFA;
    text-align: center;
    display: flex;
    align-items: center;
    /* background-color: #FA2742; */
}

.overlay-input {
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1.1rem;
    padding: 0.87rem;
    /* background-color: #FA2742; */
    background: transparent;
    width: 80vh;
    margin: 1rem 0;
    color: #FAFAFA;
    
    
}

.overlay-input:focus {
    outline: none;
    box-shadow: none;
}

.overlay-close {
    font-size: 2rem;
    color: #201e20;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Keyframes for animation */
@keyframes slide_fade {
    from {
        scale: 0.6;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}