@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


.Landing_page_container {
    padding-bottom: 1rem;
    background-color: #FAFAFA;
}

.Landing_page_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
    transition: background-color 0.3s ease;
}


.Landing_page_nav h1 {
    margin-left: 3rem;
    color: #333;
}


.Landing_page_nav ul {
    margin-top: 1.8rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
    
}

.Landing_page_nav ul li {
    text-decoration: none;
    position: relative;
    color: #333;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}
.Landing_page_nav ul li a {
    text-decoration: none;
    color: inherit;
}

.Landing_page_nav ul li:hover {
    color: #FA2742;
}

.Landing_page_nav ul li:hover .dropdown-content {
    display: block;
}

.search .fa {
    color: #FA2742;
    font-size: 2.5rem;
    border: 2px #FA2742 solid;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.31rem;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    color: #201e20;
    min-width: 15rem;
    top: 100%;
    z-index: 1;
    padding: 0.5rem;
}

.dropdown-content ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0rem;
    margin: 0;
}
.dropdown-content ul li a {

    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-content ul li a:hover {
    color: #FA2742;
}

.dropdown-content.Dark {
    background-color: #1F1F1F;
    color: #FAFAFA;
    border: 1px #201e20 solid;
}

.overlay {
    position: fixed;
    top: 0;
    left: 23%;
    width: 60%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.7s ease;
}

.overlay-visible {
    transform: translateY(0);
}

.overlay.Light {
    background: #FAFAFA;
}

.overlay.Dark {
    background: #201e20;
}

.fa-within {
    color: #888;
    border-bottom: 2px #333 solid;
    border-right: none;
    font-size: 3rem;
    padding: 0.8rem;
    background-color: #FAFAFA;
}

.overlay-content {
    text-align: center;
    display: flex;
    align-items: center;
}

.overlay-input {
    border-bottom: 2px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1rem;
    padding: 0.87rem;
    background-color: #FAFAFA;
    width: 80vh;
    margin: 1rem 0;
}

.overlay-input:focus {
    outline: none;
    box-shadow: none;
}

.overlay-input.Dark {
    background-color: #201e20;
    border-bottom: 1px solid #FAFAFA;
}

.overlay-close {
    font-size: 2rem;
    color: #201e20;
    cursor: pointer;
    transition: color 0.3s ease;
}

h1 {
    font-size: 3rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    color: #FA2742;
}

p {
    font-size: 1rem;
}