@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Pacifico&display=swap');
h1{
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  color:#FA2742;
  /* text-shadow: 0px 0px 6px rgb(109, 109, 0); */
}
p{
  font-size: 1rem;
}

footer{
  background-color: #FAFAFA;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  padding:3rem;
}
.footer_container{
  /* border: 2px red solid; */
  padding:1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 80vh;
  margin: right;

}
.footer_container div{
  margin: auto;
  margin-top: 0;
}
footer .footer_container ul{
  list-style-type: style disc;;
  padding:1rem;
}
footer .footer_container ul li{
  padding:0.3rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: #201e20;
  cursor: pointer;
}
footer .footer_container ul li:hover {
  color: #FA2742;
}

.footer_social{
  text-align: center;
  padding: 0.5rem;
  width: 80rem;
  margin:auto;
  /* border: 1px solid red; */
}
.footer_social h2{
  padding: 1rem;
  font-size: 2.1rem;
}
.footer_social  div .fa{
  font-size: 1.5rem;
  margin: 2rem;
  margin-top: 1rem;
  color: rgb(214, 139, 139);
  transition:  0.5s ease;
  cursor: pointer;

}
.footer_social div .fa:hover{
  color: #FA2742;
  transform: scale(1.1);



}